input, select {
    width: 200px;
    background-color: ivory;
    border: none;
    outline: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;

}
button{
    height: 22px;
    width: 70px;
    margin-top: 15px;

    border-radius: 5px;
    outline: 1px  black;
}

.error{
    color: red;
    margin-top: 20px;
    font-size: 15px;
}
